<!-- begin team-section--v3(otherpage) -->
<div class="team-section team-section--v3 pt-500 bgc-wh">
	<div class="row">
		<div class="col-12">
			<h3 class="d-inline-block ff-2 fz-250 fz-xs-200 pt-150 mb-450">Наша команда</h3>
		</div>
	</div>	
	<div class="row">
		<div class="col-12 col-sm-6 col-md-3 team-item text-center text-sm-left mb-sm-400">
			<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-4.jpg);"></div>
			<div class="team-item__name ff-2 fz-150 fc-1">Джон Стеллаж</div>
			<div class="team-item__position fz-100 fc-1 mb-75">Директор</div>
			<div class="team-item__links lh-12">
				<a href="tel:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">+ 375 (33) 123-22-33</a>
				<a href="mailto:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">jorrrgg@installsys.by</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3 team-item text-center text-sm-left mb-sm-400">
			<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-4.jpg);"></div>
			<div class="team-item__name ff-2 fz-150 fc-1">Джон Стеллаж</div>
			<div class="team-item__position fz-100 fc-1 mb-75">Директор</div>
			<div class="team-item__links lh-12">
				<a href="tel:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">+ 375 (33) 123-22-33</a>
				<a href="mailto:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">jorrrgg@installsys.by</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3 team-item text-center text-sm-left mb-sm-400">
			<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-4.jpg);"></div>
			<div class="team-item__name ff-2 fz-150 fc-1">Джон Стеллаж</div>
			<div class="team-item__position fz-100 fc-1 mb-75">Директор</div>
			<div class="team-item__links lh-12">
				<a href="tel:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">+ 375 (33) 123-22-33</a>
				<a href="mailto:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">jorrrgg@installsys.by</a>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-3 team-item text-center text-sm-left mb-sm-400">
			<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-4.jpg);"></div>
			<div class="team-item__name ff-2 fz-150 fc-1">Джон Стеллаж</div>
			<div class="team-item__position fz-100 fc-1 mb-75">Директор</div>
			<div class="team-item__links lh-12">
				<a href="tel:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">+ 375 (33) 123-22-33</a>
				<a href="mailto:" target="_blank" class="d-block fz-100 fc-1 h-fc-1 h-fx-opacity mr-75">jorrrgg@installsys.by</a>
			</div>
		</div>
	</div>
</div>
<!-- end team-section--v3(otherpage) -->