<!-- begin Gallery v1 -->
<div class="gallery--v1">
	<h3>Галерея №1</h3>
	<div class="row">
		<div class="col-6 col-md-4 mb-50">
			<a data-fancybox="gallery" href="img/bg-3.jpg">
				<div class="h-fx-item pos-r pb-66p mb-125">
					<div class="h-fx-item__img pos-a trbl-0 bg-cc" style="background-image: url(img/bg-3.jpg);"></div>
				</div>
			</a>
		</div>
		<div class="col-6 col-md-4 mb-50">
			<a data-fancybox="gallery" href="img/bg-4.jpg"">
				<div class="h-fx-item pos-r pb-66p mb-125">
					<div class="h-fx-item__img pos-a trbl-0 bg-cc" style="background-image: url(img/bg-4.jpg);"></div>
				</div>
			</a>
		</div>
		<div class="col-6 col-md-4 mb-50">
			<a  data-fancybox="gallery" href="img/p-2.jpg">
				<div class="h-fx-item pos-r pb-66p mb-125">
					<div class="h-fx-item__img pos-a trbl-0 bg-cc" style="background-image: url(img/p-2.jpg);"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- end Gallery v1 -->