<!-- begin See more v1 -->
<div class="seemore--v1">
	<h3>Смотрите также</h3>
	<div class="row">
		<div class="col-4">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-66p pos-r ovfl-h mb-50">
						<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-2 fz-1125 h-fx-opacity">knowpia.com</div>
						<div class="partfolio-item__desc fz-875 fc-2 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-4">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-66p pos-r ovfl-h mb-50">
						<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-2 fz-1125 h-fx-opacity">knowpia.com</div>
						<div class="partfolio-item__desc fz-875 fc-2 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-4">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-66p pos-r ovfl-h mb-50">
						<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-2 fz-1125 h-fx-opacity">knowpia.com</div>
						<div class="partfolio-item__desc fz-875 fc-2 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
	</div>
</div>	
<!-- end See more v1 v1 -->