<!-- begin About-us_v1 -->
<div class="about-us_v1 pt-600 pb-600">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="pl-300 dec-line-left">
					<h3 class="section-title ff-2 fz-250 mb-200 ">О Нас</h3>
					<div class="about-us__text">
						<p>Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
						<p>Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </p>
						<a href="#" class="btn-arrow mt-200"><span class="fw-500">подробнее о нас</span><i class="fal fa-long-arrow-right"></i></a>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end About-us_v1 -->