<!-- begin About-us_v4 -->
<div class="about-us_v4 pt-600 pb-600">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="row">
					<div class="col-6">
						<div class="about-us__text pr-400">
							<h3 class="section-title ff-2 fz-250 pt-150 mb-200 pos-r dec-line-top dec-color-1">О Нас</h3>
							<p>Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
							<p>Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </p>
							<a href="#" class="btn-arrow mt-250"><span class="fw-500">подробнее о нас</span><i class="fal fa-long-arrow-right"></i></a>		
						</div>
					</div>
					<div class="col-6">
						<div class="about-us__img pb-75p bg-cc" style="background-image: url(img/about.jpg);"></div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end About-us_v4 -->