<!-- begin About-us_v3 -->
<div class="about-us_v3 pt-500 pb-600 ptb-sm-500 bgc-wh">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<div class="row">
					<div class="col-12 about-us__title">
						<h3 class="section-title ff-2 fz-250 fz-xs-200 pt-150 mb-200 pos-r dec-line-top-medium dec-color-1">О Нас</h3>
					</div>
					<div class="col-12 col-md-6">
						<div class="about-us__text h-100p pr-sm-25 pr-200 d-flex flex-column justify-content-between">
							<div class="fz-1125 lh-14">
								<p>«ИнсталСистемс» осуществляет деятельность по двум основным направлениям - монтаж торгового и стеллажного оборудования. Наша компания занимается монтажом любых стеллажей — от самых маленьких, универсальных, до 12-ти метровых грузовых стеллажей, с нагрузкой на балку до 4,5 тонн.</p>
								<p>Наличие самого современного оборудования, опытного персонала с допуском для верхолазных работ и управления спецтехникой позволяют нам гарантировать выполнение в кратчайшие сроки даже самых сложных проектов.</p>
							</div>
							<div>
								<a href="#" class="btn-arrow mt-250 h-fc-1 fz-100 fz-sm-125"><span class="ls-3 mr-50">подробнее о нас</span><i class="fal fa-long-arrow-right"></i></a>		
							</div>
						</div>
					</div>
					<div class="col-6 d-none d-md-block">
						<div class="about-us__img pb-56p bg-cc" style="background-image: url(img/about.jpg);"></div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end About-us_v4 -->