<!-- begin advantages-section_v3 -->
<div class="advantages-section_v3 bgc-2 pt-500 pb-600 pb-sm-200">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="d-inline-block ff-2 fz-250 fz-xs-200 pt-150 mb-450 pos-r dec-line-top-medium dec-color-1">Наши преимущества</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4 advantages-item d-flex mb-sm-300">
				<div class="advantages-item__image mr-200">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-1 mb-75">Узнаваемость</div>
					<div class="desc fz-100 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой". В то время некий безымянный печатник создал большую коллекцию.</div>				
				</div>
			</div>
			<div class="col-12 col-md-4 advantages-item d-flex mb-sm-300">
				<div class="advantages-item__image mr-200">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-1 mb-75">Узнаваемость</div>
					<div class="desc fz-100 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой". В то время некий безымянный печатник создал большую коллекцию.</div>
				</div>
			</div>
			<div class="col-12 col-md-4 advantages-item d-flex mb-sm-300">
				<div class="advantages-item__image mr-200">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-1 mb-75">Узнаваемость</div>
					<div class="desc fz-100 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой". В то время некий безымянный печатник создал большую коллекцию.</div>				
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end advantages-section_v3 -->