<!-- begin advantages-section_v1 -->
<div class="advantages-section_v1 bgc-wh ptb-600">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="d-inline-block ff-2 fz-250 pt-150 mb-450 pos-r dec-line-top dec-color-1">Наши преимущества</h3>
			</div>
		</div>
		<div class="row mb-350">
			<div class="col-3 advantages-item mb-150">
				<div class="advantages-item__image mb-150">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-2 mb-75">Узнаваемость</div>
					<div class="desc fz-875 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой".</div>				
				</div>
			</div>
			<div class="col-3 advantages-item mb-150">
				<div class="advantages-item__image mb-150">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-2 mb-75">Узнаваемость</div>
					<div class="desc fz-875 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой".</div>				
				</div>
			</div>
			<div class="col-3 advantages-item mb-150">
				<div class="advantages-item__image mb-150">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-2 mb-75">Узнаваемость</div>
					<div class="desc fz-875 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой".</div>				
				</div>
			</div>
			<div class="col-3 advantages-item mb-150">
				<div class="advantages-item__image mb-150">
					<img src="img/info.svg" alt="info" class="h-350	w-auto">
				</div>
				<div class="advantages-item__text pr-100">
					<div class="title fz-150 ff-2 fw-400 fc-2 mb-75">Узнаваемость</div>
					<div class="desc fz-875 fc-2">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой".</div>				
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a href="#" class="btn-arrow"><span class="fw-500">Подробнее о нас</span><i class="fal fa-long-arrow-right"></i></a>		
			</div>
		</div>
	</div>
</div>
<!-- end advantages-section_v1 -->