	<!-- begin breadcrumb-section_v1 -->
	<div class="breadcrumb_v1 bgc-2 d-none d-sm-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<ul class="breadcrumb mtb-0 plr-0 pt-75 pb-75">
						<li class="d-inline-block pr-50 ptb-50"><a href="#" class="fz-100 h-fc-3">Главная</a></li>
						<span>|</span>
						<li class="d-inline-block plr-50 ptb-50"><a href="#" class="fz-100 h-fc-3">Услуги</a></li>
						<span>|</span>
						<li class="d-inline-block plr-50 ptb-50"><a href="#" class="fz-100 h-fc-3">Страница отдельной услуги</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb-section_v1 -->