	<!-- begin Header v2-->
	<header class="header header--v2 d-flex flex-column mn-h-75vh h-lg-100vh">
		<div class="top-bar bgc-3 ptb-75 d-none d-sm-flex align-items-center">
			<div class="container-fluid d-flex align-items-center">
				<div class="location-block mr-auto">
					<div class="location-block__item d-flex align-items-center">
						<i class="fal fa-map-marker-alt fz-125 fc-1 mr-50 mb-25"></i>
						<span class="fz-100 fz-md-875 fc-1">Минск, ул. Гурского 46, пом. 1/13-6</span>
					</div>
				</div>
				<div class="phone-block d-inline-block mr-300">
					<a href="tel:+375291112233" class="phone-block__item fz-100 fz-md-875 fc-1 h-fc-acc-1">+ 375(29) 753-22-48</a>
					<span class="fz-100 fc-wh mlr-25">|</span>
					<a href="tel:+375291112233" class="phone-block__item fz-100 fz-md-875 fc-1 h-fc-acc-1">+ 375(29) 897-53-17</a>
				</div>
				<div class="mail-block d-inline-block">
					<a href="mailto:info@volnastudio.com" class="mail-block__item fc-1 fz-100 fz-md-875 h-fc-acc-1">info@installsys.ru</a>
				</div>
			</div>
		</div>
		<div class="nav-bar bgc-wh d-flex align-items-center ptb-125 ptb-xs-100">
			<div class="container-fluid d-flex align-items-center">
				<div class="logo-place">
					<a href="#">
						<img src="img/logo.svg" alt="logo" class="logo align-self-center img-resp mx-h-400 mx-h-sm-300">
					</a>
				</div>
				<div class="nav-wrapper ml-auto d-none d-md-flex align-items-center">
					<nav class="main-nav d-inline-block">
						<li class="is-active main-nav__item d-inline-block ff-2 mr-200 h-fx-underline ptb-50"><a href="#" class="h-fc-1">О нас</a></li>
						<li class="main-nav__item d-inline-block ff-2 mr-200 h-fx-underline h-fx-opener ptb-50"><a href="#" class="h-fc-1">Продукция</a>
							<div class="h-fx-drop pt-175">
								<ul class="d-inline-block bgc-wh plr-200 ptb-150 mb-0 box-shadow">
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Продукция №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Продукция №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Продукция №1</a></li>
								</ul>
							</div>
						</li>
						<li class="main-nav__item d-inline-block ff-2 mr-200 h-fx-underline h-fx-opener ptb-50"><a href="#" class="h-fc-1">Услуги</a>
							<div class="h-fx-drop pt-175">
								<ul class="d-inline-block bgc-wh plr-200 ptb-150 mb-0 box-shadow">
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Услуга №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Услуга №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Услуга №1</a></li>
								</ul>
							</div>
						</li>
						<li class="main-nav__item d-inline-block ff-2 mr-200 h-fx-underline ptb-50"><a href="#" class="h-fc-1">Статьи</a></li>
						<li class="main-nav__item d-inline-block ff-2 h-fx-underline ptb-50"><a href="#" class="h-fc-1">Контакты</a></li>
					</nav>
					<div class="social-links d-inline-block fz-150 ml-175">
						<a href="#" target="_blank" class="social-links__item fz-150 ml-125 h-fc-1 h-fx-opacity"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div class="hamburger-wrapper d-md-none ml-auto pt-35">
					<div class="hamburger hamburger--collapse">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-bar--scroll bgc-wh align-items-center ptb-125 ptb-xs-100">
			<div class="container-fluid d-flex align-items-center">
				<div class="logo-place">
					<a href="#">
						<img src="img/logo.svg" alt="logo" class="logo align-self-center img-resp mx-h-400 mx-h-sm-300">
					</a>
				</div>
				<div class="nav-wrapper ml-auto d-none d-md-flex align-items-center">
					<nav class="main-nav d-inline-block">
						<li class="is-active main-nav__item d-inline-block ff-2 mr-200 h-fx-underline ptb-50"><a href="#" class="h-fc-1">О нас</a></li>
						<li class="main-nav__item d-inline-block ff-2 mr-200 h-fx-underline h-fx-opener ptb-50"><a href="#" class="h-fc-1">Продукция</a>
							<div class="h-fx-drop pt-175">
								<ul class="d-inline-block bgc-wh plr-200 ptb-150 mb-0 box-shadow">
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Продукция №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Продукция №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Продукция №1</a></li>
								</ul>
							</div>
						</li>
						<li class="main-nav__item d-inline-block ff-2 mr-200 h-fx-underline h-fx-opener ptb-50"><a href="#" class="h-fc-1">Услуги</a>
							<div class="h-fx-drop pt-175">
								<ul class="d-inline-block bgc-wh plr-200 ptb-150 mb-0 box-shadow">
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Услуга №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Услуга №1</a></li>
									<li class="main-nav__item d-inline-block ff-2 h-fx-underline h-fc-1 ws-nw ptb-25"><a href="#" class="fz-875 h-fc-1">Услуга №1</a></li>
								</ul>
							</div>
						</li>
						<li class="main-nav__item d-inline-block ff-2 mr-200 h-fx-underline ptb-50"><a href="#" class="h-fc-1">Статьи</a></li>
						<li class="main-nav__item d-inline-block ff-2 h-fx-underline ptb-50"><a href="#" class="h-fc-1">Контакты</a></li>
					</nav>
					<div class="social-links d-inline-block fz-150 ml-175">
						<a href="#" target="_blank" class="social-links__item fz-150 ml-125 h-fc-1 h-fx-opacity"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div class="hamburger-wrapper d-md-none ml-auto pt-35">
					<div class="hamburger hamburger--collapse">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="title-slide d-flex pos-r ovfl-h">
			<div class="parralax-window pos-a trbl-0" data-parallax="scroll" data-bleed="30" data-z-index="-100" data-image-src="img/mainSlideBcg.jpg"></div>
			<div class="container-fluid  mn-h-100p">
				<div class="row justify-content-center pos-r mn-h-100p">
					<div class="col-12 col-md-10 pos-r d-flex flex-column justify-content-center">
						<div class="row">
							<div class="col-12 col-md-7 title-slide__text ptb-800 ptb-xs-300">
								<h1 class="fc-1 mb-300 fz-250 fz-xs-200 ff-2 fw-400 lh-13">Официальный диcтребьютер<br>“Testo SE & Co. KGaA”<br>в Беларуси с 1995 года</h1>
								<a href="#" class="btn fc-wh fz-100 fz-sm-125 h-bgc-wh h-fc-acc-1 bgc-acc-1 m-open" data-modal="form_1">Узнать больше</a>
							</div>
							<div class="col-5 d-none d-md-flex align-items-center justify-content-end">
								<img src="build/img/testoProducts.png" alt="testo" class="title-slide__image w-100p h-auto">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end Header -->
	