<!DOCTYPE html>
<html lang="ru" class="fz-lg-875">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Thempla</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	<!-- begin Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800|Yeseva+One&amp;subset=cyrillic" rel="stylesheet">
	<!-- end Fonts -->
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->
	<link rel="stylesheet" href="css/main.css">

</head>