	<!-- begin mobile-navigation -->
	<div class="mobile-navigation bgc-wh">
		<div class="top-bar bgc-3 ptb-75 d-none d-sm-flex align-items-center">
			<div class="container-fluid d-flex align-items-center">
				<div class="location-block mr-auto">
					<div class="location-block__item d-flex align-items-center">
						<i class="fal fa-map-marker-alt fz-125 fc-wh mr-50 mb-25"></i>
						<span class="fz-100 fz-md-875 fc-wh">Минск, ул. Гурского 46, пом. 1/13-6</span>
					</div>
				</div>
				<div class="phone-block d-inline-block mr-300">
					<a href="tel:+375291112233" class="phone-block__item fc-1 fz-100 fz-md-875 fc-wh h-fc-acc-1">+ 375(29) 753-22-48</a>
					<span class="fz-100 fc-wh mlr-25">|</span>
					<a href="tel:+375291112233" class="phone-block__item fc-1 fz-100 fz-md-875 fc-wh h-fc-acc-1">+ 375(29) 897-53-17</a>
				</div>
				<div class="mail-block d-inline-block">
					<a href="mailto:info@volnastudio.com" class="mail-block__item fc-wh fz-100 fz-md-875 h-fc-acc-1">info@installsys.ru</a>
				</div>
			</div>
		</div>
		<div class="container-fluid h-85vh">
			<div class="d-flex flex-column h-85vh mx-h-85vh">
				<div class="mobile-navigation__top bgc-wh">
					<div class="nav-bar bgc-wh d-flex align-items-center justify-content-between ptb-125 ptb-xs-100">
						<div class="logo-place">
							<a href="#">
								<img src="img/logo.svg" alt="logo" class="logo align-self-center img-resp mx-h-400 mx-h-sm-300">
							</a>
						</div>
						<div class="hamburger-wrapper d-md-none ml-auto pt-35">
							<div class="hamburger hamburger--collapse">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile-navigation__body plr-150">
					<ul class="mobile-nav lst-none m-0 p-0">
						<li class="mobile-nav__item ff-2 fz-150 h-fc-acc-1 ptb-25"><a href="#" class="ptb-75">О нас</a></li>
						<li class="mobile-nav__item accordion-wrapper ff-2 fz-150 h-fc-acc-1 ptb-25">
							<div class="d-flex justify-content-between">
								<a href="#">Продукция</a>
								<span class="accordion-opener fz-125 d-flex align-items-center"><i class="far fa-chevron-down"></i></span>
							</div>
							<ul class="accordion-content lst-none pl-0 ptb-100">
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
							</ul>
						</li>
						<li class="mobile-nav__item accordion-wrapper ff-2 fz-150 h-fc-acc-1 ptb-25">
							<div class="d-flex justify-content-between">
								<a href="#">Услуги</a>
								<span class="accordion-opener fz-125 d-flex align-items-center"><i class="far fa-chevron-down"></i></span>
							</div>
							<ul class="accordion-content lst-none pl-0 ptb-100">
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
								<li class="fz-100 ptb-25"><a href="#">ВЕБ шпили-вилли</a></li>
							</ul>
						</li>
						<li class="mobile-nav__item ff-2 fz-150 h-fc-acc-1 ptb-25"><a href="#" class="ptb-75">Статьи</a></li>
						<li class="mobile-nav__item ff-2 fz-150 h-fc-acc-1 ptb-25"><a href="#" class="ptb-75">Контакты</a></li>
					</ul>
				</div>
				<div class="mobile-navigation__bottom d-flex plr-150">
					<div class="social-links d-inline-block fz-150 pt-100 text-center">
						<a href="#" target="_blank" class="social-links__item fz-200 h-fc-1 h-fx-opacity"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- end mobile-navigation -->