<!-- begin Partfolio-section_v4 -->
<div class="partfolio-section partfolio-section--v4 ptb-600 bgc-wh">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="d-inline-block ff-2 fz-250 pt-150 mb-450 pos-r dec-line-top dec-color-1">Наши работы</h3>
			</div>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-3 partfolio-section__item">
			<a href="#">
				<div class="h-fx-item pos-r pb-100p">
					<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-3.jpg);"></div>
					<div class="h-fx-item__text pos-a trbl-0 ptb-300 plr-200 d-flex flex-column justify-content-end">
						<div class="first-line fz-150 fc-wh ff-2 lh-12">knowpia.com</div>
						<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>узнать больше</span><i class="fal fa-long-arrow-right"></i></div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-3 partfolio-section__item">
			<a href="#">
				<div class="h-fx-item pos-r pb-100p">
					<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-2.jpg);"></div>
					<div class="h-fx-item__text pos-a trbl-0 ptb-300 plr-200 d-flex flex-column justify-content-end">
						<div class="first-line fz-150 fc-wh ff-2 lh-12">баба-зина.нет</div>
						<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>узнать больше</span><i class="fal fa-long-arrow-right"></i></div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-3 partfolio-section__item">
			<a href="#">
				<div class="h-fx-item pos-r pb-100p">
					<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-4.jpg);"></div>
					<div class="h-fx-item__text pos-a trbl-0 ptb-300 plr-200 d-flex flex-column justify-content-end">
						<div class="first-line fz-150 fc-wh ff-2 lh-12">inbase-partners.com</div>
						<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>узнать больше</span><i class="fal fa-long-arrow-right"></i></div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-3 partfolio-section__item">
			<a href="#">
				<div class="h-fx-item pos-r pb-100p">
					<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-5.jpg);"></div>
					<div class="h-fx-item__text pos-a trbl-0 ptb-300 plr-200 d-flex flex-column justify-content-end">
						<div class="first-line fz-150 fc-wh ff-2 lh-12">knowpia.com</div>
						<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>узнать больше</span><i class="fal fa-long-arrow-right"></i></div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 mt-400">
				<a href="#" class="btn btn--border fc-1 bgc-wh h-fc-wh h-bgc-1">все работы</a>
			</div>
		</div>
	</div>
</div>
<!-- end Partfolio-section_v4 -->