<!-- begin Partfolio-section_v6 -->
<div class="partfolio-section partfolio-section--v3 ptb-600 bgc-wh">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="d-inline-block ff-2 fz-250 pt-150 mb-450 pos-r dec-line-top dec-color-1">Наши работы</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs mb-200 p-0">
					<li class="nav-tabs__item d-inline-block cur-p h-fx-underline h-fx-underline-color-1 h-fc-1 ptb-50 mr-300 is-active" data-filter="all">Все работы</li>
					<li class="nav-tabs__item d-inline-block cur-p h-fx-underline h-fx-underline-color-1 h-fc-1 ptb-50 mr-300" data-filter=".first">Дизайн</li>
					<li class="nav-tabs__item d-inline-block cur-p h-fx-underline h-fx-underline-color-1 h-fc-1 ptb-50 mr-300" data-filter=".second">Шмизайн</li>
					<li class="nav-tabs__item d-inline-block cur-p h-fx-underline h-fx-underline-color-1 h-fc-1 ptb-50 mr-300" data-filter=".third">ВЕБ-мазахизм</li>

				</ul>
				<!-- Tab panes -->
				<div class="tab-content row">
					<div class="col-4 tab-content__item mix first">
						<a href="#">
							<div class="h-fx-item pos-r pb-56p mb-125">
								<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
								<div class="pos-a trbl-0 p-200 d-flex flex-column justify-content-center">
									<div class="first-line fz-150 fc-wh ff-2 lh-12 text-center">knowpia.com</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-4 tab-content__item mix second">
						<a href="#">
							<div class="h-fx-item pos-r pb-56p mb-125">
								<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-2.jpg);"></div>
								<div class="pos-a trbl-0 p-200 d-flex flex-column justify-content-center">
									<div class="first-line fz-150 fc-wh ff-2 lh-12 text-center">knowpia.com</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-4 tab-content__item mix third">
						<a href="#">
							<div class="h-fx-item pos-r pb-56p mb-125">
								<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-3.jpg);"></div>
								<div class="pos-a trbl-0 p-200 d-flex flex-column justify-content-center">
									<div class="first-line fz-150 fc-wh ff-2 lh-12 text-center">knowpia.com</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-4 tab-content__item mix first">
						<a href="#">
							<div class="h-fx-item pos-r pb-56p mb-125">
								<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-3.jpg);"></div>
								<div class="pos-a trbl-0 p-200 d-flex flex-column justify-content-center">
									<div class="first-line fz-150 fc-wh ff-2 lh-12 text-center">knowpia.com</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
<!-- end Partfolio-section_v6 -->