<!-- begin Partners-section__v2 -->
<div class="partners-section partners-section--v2 bgc-wh pt-500 pb-600 ptb-sm-500">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="section-title ff-2 fz-250 fz-xs-200 pt-150 mb-450 pos-r dec-line-top-medium dec-color-1">Нам доверяют</h3>
			</div>
			<div class="col-12">
				<div class="partners-carousel owl-carousel custom-theme">
					<div class="partners-carousel__item mb-350 h-fx-gray">
						<img src="img/partner.svg" alt="partner">
					</div>
					<div class="partners-carousel__item mb-350 h-fx-gray">
						<img src="img/partner.svg" alt="partner">
					</div>
					<div class="partners-carousel__item mb-350 h-fx-gray">
						<img src="img/partner.svg" alt="partner">
					</div>
					<div class="partners-carousel__item mb-350 h-fx-gray">
						<img src="img/partner.svg" alt="partner">
					</div>
					<div class="partners-carousel__item mb-350 h-fx-gray">
						<img src="img/partner.svg" alt="partner">
					</div>
					<div class="partners-carousel__item mb-350 h-fx-gray">
						<img src="img/partner.svg" alt="partner">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end Partners-section__v2 -->