<!-- begin Partfolio-section_v2 -->
<div class="partfolio-section partfolio-section--v2 ptb-600 bgc-wh">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="d-inline-block ff-2 fz-250 pt-150 mb-450 pos-r dec-line-top dec-color-1">Наши работы</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<a href="">
					<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
						<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
							<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
						</div>
						<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
							<div class="partfolio-item__name ff-2 fc-2 fz-150 h-fx-opacity">knowpia.com</div>
						</div>
					</div>
				</a>		
			</div>
			<div class="col-4">
				<a href="">
					<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
						<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
							<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
						</div>
						<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
							<div class="partfolio-item__name ff-2 fc-2 fz-150 h-fx-opacity">knowpia.com</div>
						</div>
					</div>
				</a>		
			</div>
			<div class="col-4">
				<a href="">
					<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
						<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
							<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
						</div>
						<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
							<div class="partfolio-item__name ff-2 fc-2 fz-150 h-fx-opacity">knowpia.com</div>
						</div>
					</div>
				</a>		
			</div>
		</div>
		<div class="row">
			<div class="col-12 mt-400">
				<a href="#" class="btn-arrow"><span class="fw-500">Все работы</span><i class="fal fa-long-arrow-right"></i></a>		
			</div>
		</div>
	</div>
</div>
<!-- end Partfolio-section_v2 -->