<!-- begin reviews-section--v2 -->
<div class="reviews-section rewievs-section--v2 ptb-600 bgc-wh">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10">
				<h3 class="d-inline-block ff-2 fz-250 pt-150 mb-450 pos-r dec-line-top dec-color-1">Отзывы о нас</h3>
			</div>
			<div class="col-8">
				<div class="reviews-carousel owl-carousel custom-theme">
					<div class="rewievs-carousel__item mb-200">
						<div class="review__author ff-2 fc-1 mb-100">Лаврентий Лемончелов</div>
						<div class="review__text ff-1 fc-1 fz-875 mb-100">
							Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает.
						</div>
						<div class="review__date d-inline-block fz-75 fc-3 mr-75">01.01.2019</div>
						<div class="review__link no-link d-inline-block fz-75 fc-3 h-fc-1 cur-p" data-link="https://google.com/">отзыв с сервиса  Google maps</div>
					</div>
					<div class="rewievs-carousel__item mb-200">
						<div class="review__author ff-2 fc-1 mb-100">Лаврентий Лемончелов</div>
						<div class="review__text ff-1 fc-1 fz-875 mb-100">
							Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает.
						</div>
						<div class="review__date d-inline-block fz-75 fc-3 mr-75">01.01.2019</div>
						<div class="review__link no-link d-inline-block fz-75 fc-3 h-fc-1 cur-p" data-link="https://google.com/">отзыв с сервиса  Google maps</div>
					</div>
					<div class="rewievs-carousel__item mb-200">
						<div class="review__author ff-2 fc-1 mb-100">Лаврентий Лемончелов</div>
						<div class="review__text ff-1 fc-1 fz-875 mb-100">
							Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает.
						</div>
						<div class="review__date d-inline-block fz-75 fc-3 mr-75">01.01.2019</div>
						<div class="review__link no-link d-inline-block fz-75 fc-3 h-fc-1 cur-p" data-link="https://google.com/">отзыв с сервиса  Google maps</div>
					</div>
				</div>		
			</div>
			<div class="col-10 mt-300">
				<a href="#" class="btn-arrow"><span class="fw-500">Читать все отзывы</span><i class="fal fa-long-arrow-right"></i></a>		
			</div>
		</div>
	</div>
</div>
<!-- end reviews-section--v2