<!-- begin Services-section v3 -->
<div class="services-section--v3 bgc-wh pt-500 pb-600 ptb-sm-500">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="section-title ff-2 fz-250 fz-xs-200 pt-150 mb-450 mb-xs-300 pos-r dec-line-top-medium dec-color-1">Услуги</h3>
			</div>
		</div>
		<div class="row services-row mb-300 mb-sm-0 sm-carousel">
			<div class="sm-carousel__item col-6 col-md-4">
				<a href="#">
					<div class="h-fx-item pos-r pb-66p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/s-1.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">Монтаж складских стеллажей</div>
							<div class="second-line btn-arrow fc-wh fz-100 h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
			<div class="sm-carousel__item col-6 col-md-4">
				<a href="#">
					<div class="h-fx-item pos-r pb-66p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/s-2.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">Монтаж торговых стеллажей</div>
							<div class="second-line btn-arrow fc-wh fz-100 h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
			<div class="sm-carousel__item col-6 col-md-4">
				<a href="#">
					<div class="h-fx-item pos-r pb-66p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/s-3.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">Проектирование торгового и складского пространства</div>
							<div class="second-line btn-arrow fc-wh fz-100 h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end Services-section v3 -->