<!-- begin Services-section v2 -->
<div class="services-section--v2 bgc-wh pt-600 pb-600 pt-xs-500 pb-xs-500">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3 class="section-title ff-2 fz-250 fz-xs-200 pt-150 mb-450 pos-r dec-line-top dec-color-1">Наши услуги</h3>
			</div>
		</div>
		<div class="row services-row mb-300 mb-xs-200 sm-carousel">
			<div class="sm-carousel__item col-6 col-md-3">
				<a href="#">
					<div class="h-fx-item pos-r pb-133p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-6.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">Веб разработка</div>
							<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
			<div class="sm-carousel__item col-6 col-md-3">
				<a href="#">
					<div class="h-fx-item pos-r pb-133p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-5.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">Веб дизайн</div>
							<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
			<div class="sm-carousel__item col-6 col-md-3">
				<a href="#">
					<div class="h-fx-item pos-r pb-133p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-4.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">SEO продвижение</div>
							<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
			<div class="sm-carousel__item col-6 col-md-3">
				<a href="#">
					<div class="h-fx-item pos-r pb-133p mb-125">
						<div class="h-fx-item__img pos-a trbl-0 bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
						<div class="h-fx-item__text pos-a trbl-0 p-200 d-flex flex-column justify-content-end">
							<div class="first-line fz-150 fc-wh ff-2 lh-12">UI/UX</div>
							<div class="second-line btn-arrow fc-wh h-fc-wh pt-100 mt-150 dec-line-top-short dec-color-wh"><span>подробнее</span><i class="fal fa-long-arrow-right"></i></div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<a href="#" class="btn-arrow"><span class="fw-500">Все услуги</span><i class="fal fa-long-arrow-right"></i></a>		
	</div>
</div>
<!-- end Services-section v2 -->