<!-- begin team-section--v3 -->
<div class="team-section team-section--v3 ptb-600 bgc-wh">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="row">
					<div class="col-12">
						<h3 class="d-inline-block ff-2 fz-250 pt-150 mb-450 pos-r dec-line-top dec-color-1">Наша команда</h3>
					</div>
				</div>	
				<div class="row">
					<div class="col-3 team-item">
						<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/taem-1.jpg);"></div>
						<div class="team-item__name ff-2 fz-125 fc-1">Мария Котян</div>
						<div class="team-item__position fz-875 fc-2 mb-75">#ябырипнулась #ясад</div>
						<div class="team-item__links">
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fal fa-at"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-instagram"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-linkedin-in"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
					<div class="col-3 team-item">
						<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-2.jpg);"></div>
						<div class="team-item__name ff-2 fz-125 fc-1">Екатерина Шварц</div>
						<div class="team-item__position fz-875 fc-2 mb-75">дизайнер</div>
						<div class="team-item__links">
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fal fa-at"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-instagram"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-linkedin-in"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
					<div class="col-3 team-item">
						<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-3.jpg);"></div>
						<div class="team-item__name ff-2 fz-125 fc-1">Дарья Реброва</div>
						<div class="team-item__position fz-875 fc-2 mb-75">кофеварка</div>
						<div class="team-item__links">
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fal fa-at"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-instagram"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-linkedin-in"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-facebook-f"></i></a>
						</div>
					</div>
					<div class="col-3 team-item">
						<div class="team-item__img pb-100p bg-cc mb-125" style="background-image: url(img/team-4.jpg);"></div>
						<div class="team-item__name ff-2 fz-125 fc-1">Шмёгл Жоржевич</div>
						<div class="team-item__position fz-875 fc-2 mb-75">меньшинство</div>
						<div class="team-item__links">
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fal fa-at"></i></a>
							<a href="#" target="_blank" class="d-inline-block fz-150 fc-3 mr-75"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end team-section--v3