<!-- begin Popular posts sidebar -->
<div class="sidebar__posts">
	<div class="fz-150 ff-2 mb-200 lh-1">
		Популярное в блоге
	</div>
	<a href="#">
		<div class="popular-item d-flex h-fx-item cp mb-150">
			<div class="popular-item__image w-500 h-500 pos-r ovfl-h">
				<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-1.jpg);"></div>
			</div>
			<div class="popular-item__text-wrapper d-flex flex-column flex-1 pl-100 pr-50">
				<div class="popular-item__name ff-2 fz-100 lh-12 h-fx-opacity">Какая-то другая статья на любую тему</div>
				<div class="btn-arrow mt-auto"><span class="fw-500 fz-75 lh-1">подробнее</span><i class="fal fa-long-arrow-right fz-875"></i></div>		
			</div>
		</div>
	</a>	
	<a href="#">
		<div class="popular-item d-flex h-fx-item cp mb-150">
			<div class="popular-item__image w-500 h-500 pos-r ovfl-h">
				<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-2.jpg);"></div>
			</div>
			<div class="popular-item__text-wrapper d-flex flex-column flex-1 pl-100 pr-50">
				<div class="popular-item__name ff-2 fz-100 lh-12 h-fx-opacity">Какая-то другая статья на любую тему</div>
				<div class="btn-arrow mt-auto"><span class="fw-500 fz-75 lh-1">подробнее</span><i class="fal fa-long-arrow-right fz-875"></i></div>		
			</div>
		</div>
	</a>	
	<a href="#">
		<div class="popular-item d-flex h-fx-item cp mb-150">
			<div class="popular-item__image w-500 h-500 pos-r ovfl-h">
				<div class="pos-a trbl-0 h-fx-item__img bg-filter-dark" style="background-image: url(img/bg-3.jpg);"></div>
			</div>
			<div class="popular-item__text-wrapper d-flex flex-column flex-1 pl-100 pr-50">
				<div class="popular-item__name ff-2 fz-100 lh-12 h-fx-opacity">Какая-то другая статья на любую тему</div>
				<div class="btn-arrow mt-auto"><span class="fw-500 fz-75 lh-1">подробнее</span><i class="fal fa-long-arrow-right fz-875"></i></div>		
			</div>
		</div>
	</a>		
</div>
<!-- end Popular posts sidebar -->