	<!-- begin breadcrumb-section -->
	<div class="breadcrumb bgc-wh mb-200 d-none d-sm-block">
		<ul class="breadcrumb mtb-0 p-0" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li class="d-inline-block pr-50 h-fc-acc-1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="fz-100" itemprop="item" href="#"><span itemprop="name"><i class="fas fa-home"></i></span></a></li>
			<li class="d-inline-block pr-50 h-fc-acc-1 fz-75">></li>
			<li class="d-inline-block pr-50 h-fc-acc-1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="fz-875" itemprop="item" href="#"><span itemprop="name">Услуги физ.лицам</span></a></li>
			<li class="d-inline-block pr-50 h-fc-acc-1 fz-75">></li>
			<li class="d-inline-block pr-50 is-active h-fc-acc-1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a class="fz-875" itemprop="item" href="#"><span itemprop="name" class="h-fc h-fc-acc-1">Имущественные отношения</span></a></li>
		</ul>
	</div>
	<!-- end breadcrumb-section -->