<!-- begin cookie Block -->
	<div class="cookieBlock bgc-1">
		<div class="cookieBlock__text fz-875 mb-100 ff-2 fz-1125">
			Для удобства работы с сайтом мы используем файлы cookie. <a href="#" class="cookieBlock__readmore fc-acc-1 h-fx-opacity">Что это?</a>
		</div>
		<div class="cookieBlock__btn text-center">
			<a href="javascript:void(0);" class="accept btn d-inline-block ptb-75 fc-wh fz-875 h-fc-wh h-fx-shadow bgc-acc-1 text-center">Я согласен(на)</a>
		</div>
	</div>
	<!-- end cookie Block -->