	<!-- begin -->
	<footer class="footer pt-400 pb-300 pb-sm-200 pt-sm-300 bgc-3">
		<div class="container-fluid">
					<div class="row pb-200 flex-column-reverse flex-md-row-reverse">
						<div class="col-12 col-md-5 offset-md-1">
							<div class="row">
								<!-- <div class="col-12 col-sm-6 col-md-4 offset-md-2 expand-wrapper mb-sm-75">
									<div class="ff-2 fc-1 fw-600 d-flex justify-content-between align-items-center mb-300 mb-sm-50"><span class="fz-125 fz-xs-125">Меню сайта</span><span class="expand-opener d-flex align-self-center d-sm-none p-75"><i class="far fa-chevron-down"></i></span></div>
										
								</div> -->
								<div class="col-12 col-sm-12">
									<div class="ff-2 fc-1 fw-600 mb-100 mb-sm-100 fz-125 fz-xs-125 text-md-right">Следите за нами</div>
									<div class="social-links d-inline-block d-flex justify-content-md-end mb-150">
										<a href="#" target="_blank" class="social-links__item fz-150 fz-sm-250 h-fc h-fc-acc-1 mr-100"><i class="fab fa-twitter"></i></a>
										<a href="#" target="_blank" class="social-links__item fz-150 fz-sm-250 h-fc h-fc-acc-1"><i class="fab fa-facebook-square"></i></a>
									</div>
									<div class="ff-2 fc-1 fw-600 mb-100 mb-sm-100 fz-125 fz-xs-125 text-md-right">Поиск по сайту</div>
									<div class="search-form__wrapper">
										<input type="text" class="search-form__line" placeholder="Найти" name="" id="" value="" />
							        <input type="submit" class="search-form__button fz-875" value="Поиск"/>
									</div>
								</div>
							</div>
						</div>	
						<div class="col-12 col-md-6 mb-xs-0 mb-sm-300">
							<div class="row">
								<div class="col-12">
									<div class="footer__logo mt-50 mb-300 mb-sm-300 d-flex">
										<a href="#">
											<img src="img/logo.svg" alt="" class="logo img-resp h-500 h-sm-300">
										</a>	
									</div>
								</div>
								<div class="col-12 col-sm-5 mb-sm-200">
									<div class="footer__phones mb-50">
										<a href="tel:" class="d-block fz-875 h-fc-acc-1">8 (473) 226-99-99</a>
									</div>
									<div class="footer__mail mb-150">
										<a href="mailto:mfc@govvrn.ru" class="d-block fz-875 h-fc-acc-1 mb-50">mfc@govvrn.ru</a>
									</div>
									<div class="footer__mail-support">
										<span class="fz-1125 ff-2 mb-50 d-block">Техническая поддержка</span>
										<a href="mailto:support@mydocuments36.ru" class="d-block fz-875 h-fc-acc-1 mb-50">support@mydocuments36.ru</a>
									</div>	
								</div>
								<div class="col-12 col-sm-7">
									<div class="footer__company mb-100 lh-14">
										<span class="d-block fz-875">"Автономное учреждение Воронежской области "Многофункциональный центр предоставления государственных и муниципальных услуг"</span>
									</div>
									<div class="footer__worktime mb-100">
										<span class="d-block fz-875 mb-25 lh-14">394026, г.Воронеж, ул.Дружинников, 3Б</span>
									</div>
								</div>
							</div>
						</div>
					</div>
			<div class="row">
				<div class="col-12">
					<div class="d-flex flex-column flex-sm-row justify-content-between align-self-center ptb-100">
						<div class="footer__copyright fz-875 mb-xs-50">© МФЦ Воронежской области 2019</div>
						<div class="footer-conf text-left text-sm-right"><a href="#" class="fz-875 h-fc-acc-1">Конфиденциальность</a></div>	
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end -->
	
