<!DOCTYPE html>
<html lang="ru" class="fz-md-875">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>MyDocuments</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	<style type="text/css" media="all">
   .preloader{position: fixed;left: 0;top: 0;right: 0;bottom: 0;width: 100%;z-index: 99999;background-color: #FFFFFF;}
   .preloader__wrapper {width: 100%;height: 100vh;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
   .preloader__wrapper img {max-height: 48px; width: auto;}
  </style>
	<!-- begin Fonts -->
	<!-- end Fonts -->
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->
	<link rel="stylesheet" href="css/main.min.css">

</head>