<!-- begin Header v2-->
	<header class="header header--v2 d-flex flex-column">
		<div class="top-bar ptb-75 bgc-3 d-none d-md-flex align-items-center">
			<div class="container-fluid d-flex align-items-center justify-content-between">
				<div class="tob-bar__left">
					<div class="phone-block d-inline-block mr-300">
						<a href="tel:" class="phone-block__item fc-1 fz-875 fz-md-875 h-fc-acc-1"><i class="far fa-phone fz-125 fc-1 mr-50 h-fc"></i>8 (473) 226-99-99</a>
					</div>
					<div class="worktime-block d-inline-block">
						<span class="mail-block__item fc-1 fz-875 fz-md-875"><i class="far fa-clock fz-125 fc-1 mr-50"></i>с 8:00 до 20:00</span>
					</div>	
				</div>
				<div class="top-bar__right d-flex align-items-center">
					<div class="login d-inline-block mr-300">
						<a href="#" class="fc-1 fz-875 h-fc-acc-1">Войти через ЕСИА</a>
					</div>
					<div class="special-view-btn-wrapper d-inline-block">
						<span class="bvi-link bvi-open bvi-hide special-view-btn cur-p fc-1 fz-875 h-fc-1 d-flex align-items-center h-fc h-fc-acc-1"><i class="far fa-eye mr-50 fz-125"></i>Версия для слабовидящих</span>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-bar d-flex align-items-center ptb-150 ptb-xs-100">
			<div class="container-fluid d-flex align-items-center">
				<div class="logo-place">
					<a href="/index.html">
						<img src="img/logo++.png" alt="logo" class="logo align-self-center mb-100 mb-sm-25 img-resp h-300 h-sm-300">
					</a>
				</div>
				<div class="nav-wrapper ml-auto d-none d-md-flex align-items-center">
					<ul class="m-0 p-0 main-nav d-inline-block">
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 fz-md-100 mr-200 mr-md-100 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1 is-active"><a href="#" class="h-fc-1">Физическим лицам</a></li>
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 fz-md-100 mr-200 mr-md-100 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1"><a href="#" class="h-fc-1">Юридическим лицам</a></li>
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 fz-md-100 mr-200 mr-md-100 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1"><a href="#" class="h-fc-1">Учасникам МФЦ</a></li>
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 fz-md-100 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1"><a href="#" class="h-fc-1">Услуги по жизненным ситуациям</a></li>	
					</ul>
				</div>
				<div class="ml-auto">
					<!-- <div class="special-view-btn-wrapper d-inline-block d-md-none ml-auto mr-50">
						<span class="bvi-link bvi-open bvi-hide special-view-btn cur-p fc-1 h-fc-1 d-flex align-items-center h-fc h-fc-acc-1"><i class="far fa-eye mr-50 fz-175"></i></span>
					</div> -->
					<div class="hamburger-wrapper d-inline-block d-md-none ml-auto pt-35">
						<div class="hamburger hamburger--collapse">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-bar--scroll bgc-wh align-items-center ptb-150 ptb-xs-100">
			<div class="container-fluid d-flex align-items-center">
				<div class="logo-place">
					<a href="/index.html">
						<img src="img/logo++.png" alt="logo" class="logo align-self-center mb-100 mb-sm-25 img-resp h-300 h-sm-300">
					</a>
				</div>
				<div class="nav-wrapper ml-auto d-none d-md-flex align-items-center">
					<ul class="m-0 p-0 main-nav d-inline-block">
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 mr-200 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1 is-active"><a href="#" class="h-fc-1">Физическим лицам</a></li>
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 mr-200 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1"><a href="#" class="h-fc-1">Юридическим лицам</a></li>
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 mr-200 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1"><a href="#" class="h-fc-1">Учасникам МФЦ</a></li>
						<li class="main-nav__item d-inline-block ff-2 fw-600 fz-1125 ptb-50 h-fc-1 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1"><a href="#" class="h-fc-1">Услуги по жизненным ситуациям</a></li>	
					</ul>
				</div>
				<div class="hamburger-wrapper d-md-none ml-auto pt-35">
					<div class="hamburger hamburger--collapse">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end Header -->