	<!-- begin mobile-navigation -->
	<div class="mobile-navigation bgc-wh">
		<div class="container-fluid h-85vh">
			<div class="d-flex flex-column h-85vh mx-h-85vh">
				<div class="mobile-navigation__top bgc-wh">
					<div class="nav-bar bgc-wh d-flex align-items-center justify-content-between ptb-150 ptb-xs-100">
						<div class="logo-place">
							<a href="/index.html">
								<img src="img/logo++.png" alt="logo" class="logo align-self-center mb-100 mb-sm-25 img-resp h-300 h-sm-300">
							</a>
						</div>
						<div class="hamburger-wrapper d-md-none ml-auto pt-35">
							<div class="hamburger hamburger--collapse">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile-navigation__body plr-0">
					<div class="mobile-navigation__contacts mtb-150">
						<a href="tel:" class="mobile-navigation__btn d-inline-block fc-1 fz-100 mb-50 h-fc-acc-1"><i class="far fa-phone fz-125 fc-1 mr-50 h-fc"></i>8 (473) 226-99-99</a>
						<a href="#" class="d-block fc-1 fz-100 h-fc-acc-1 mb-50"><i class="far fa-user fz-125 fc-1 mr-50 h-fc"></i>Войти через ЕСИА</a>
						<div class="special-view-btn-wrapper d-inline-block d-md-none ml-auto">
							<span class="bvi-link bvi-open bvi-hide special-view-btn cur-p fz-100 fc-1 h-fc-1 d-flex align-items-center h-fc h-fc-acc-1"><i class="far fa-eye mr-50 fz-125"></i>Версия для слабовидящих</span>
						</div>
					</div>
					<ul class="mobile-nav lst-none mb-150 p-0">
						<li class="mobile-nav__item ff-2 fz-1125"><a href="#" class="d-inline-block ptb-25 mb-25 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1 h-fc-1">Физическим лицам</a></li>
						<li class="mobile-nav__item ff-2 fz-1125"><a href="#" class="d-inline-block ptb-25 mb-25 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1 h-fc-1">Юридическим лицам</a></li>
						<li class="mobile-nav__item ff-2 fz-1125"><a href="#" class="d-inline-block ptb-25 mb-25 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1 h-fc-1">Учасникам МФЦ</a></li>
						<li class="mobile-nav__item ff-2 fz-1125"><a href="#" class="d-inline-block ptb-25 mb-25 h-fx-underline h-fx-underline-4 h-fx-underline-color-acc-1 h-fc-1">Услуги по жизненным ситуациям</a></li>	
					</ul>
					<!-- begin mobile-nav-add menu -->
					<div class="mobile-nav-add bgc-2 mb-200">
						<!-- begin mobile-nav-add-expend-item -->
						<div class="mobile-nav-add__item expand-wrapper">
							<div class="expand-opener-btn cur-p h-fc-acc-1 fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1 d-flex justify-content-between align-items-center">
								<span class="fz-1125 ff-2">Услуги</span>
								<span class="expand-opener d-flex align-self-center"><i class="far fa-chevron-down"></i></span>
							</div>
							<div class="p-0 mb-0 mr-0 expand-content">
								<div class="expand-content__item fz-100 h-fc-acc-1">
									<a href="#" class="d-block ptb-875 plr-150 bgc-3 h-fc-acc-1">Гражданство</a>
								</div>
								<div class="expand-content__item fz-100 h-fc-acc-1">
									<a href="#" class="d-block ptb-875 plr-150 bgc-3 h-fc-acc-1">Имущественные отношения</a>
								</div>
							</div>
						</div>
						<!-- end mobile-nav-add-expend-item -->
						<!-- begin mobile-nav-add-simple-item -->
						<div class="mobile-nav-add-simple-item">
							<div class="mobile-nav-add__item">
								<a href="#" class="d-block fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1">Журнал "Мои Документы"</a>
							</div>
						</div>
						<!-- end mobile-nav-add-simple-item -->
						<!-- begin mobile-nav-add-simple-item -->
						<div class="mobile-nav-add-simple-item">
							<div class="mobile-nav-add__item">
								<a href="#" class="d-block fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1">Квитанции для оплаты</a>
							</div>
						</div>
						<!-- mobile-nav-add-simple-item -->
					</div>
					<!-- end mobile-nav-add menu -->
				</div>
				<!-- <div class="mobile-navigation__bottom d-flex plr-150">
					<div class="social-links d-inline-block fz-150 pt-100 text-center">
						<a href="#" target="_blank" class="social-links__item fz-200 h-fc-1 h-fx-opacity"><i class="fab fa-instagram"></i></a>
					</div>
				</div> -->
			</div>
		</div>
		
	</div>
	<!-- end mobile-navigation -->