<!-- begin news-section -->
					<div class="news-section mb-300">
						<h2 class="ff-2 fz-200 pt-150 mb-200 dec-line-top-medium dec-color-acc-1">Наши новости</h2>
						<div class="row sm-carousel">
							<!-- begin news-item -->
							<div class="col-sm-6 col-md-4 sm-carousel__item mb-200 mb-sm-100">
								<a href="#">
									<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
										<div class="partfolio-item__image ovfl-h">
											<img data-src="img/news.jpg" alt="" class="lazyload w-100p h-auto h-fx-item__img">
										</div>
										<div class="partfolio-item__text-wrapper d-flex flex-column flex-1 bgc-3 ptb-100 plr-150">
											<div class="partfolio-item__name ff-1 fc-2 td-n fz-875 mb-25">01.08.2019</div>
											<div class="partfolio-item__name ff-2 fw-600 fc-1 td-n fz-100 h-fc">Сотрудники многофункционального центра Воронежской области приняли участие в работе межрегионального «круглого стола» Нотариальной палаты</div>
											<a href="#" class="btn-arrow mt-100 h-fc h-fc-1 h-fx-opasity-3 fz-875"><span class="mr-50 h-fc">Читать далее</span><i class="fal fa-long-arrow-right h-fc"></i></a>	
										</div>
									</div>
								</a>		
							</div>
							<!-- end news-item -->
							<!-- begin news-item -->
							<div class="col-sm-6 col-md-4 sm-carousel__item mb-200 mb-sm-100">
								<a href="#">
									<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
										<div class="partfolio-item__image ovfl-h">
											<img data-src="img/news.jpg" alt="" class="lazyload w-100p h-auto h-fx-item__img">
										</div>
										<div class="partfolio-item__text-wrapper d-flex flex-column flex-1 bgc-3 ptb-100 plr-150">
											<div class="partfolio-item__name ff-1 fc-2 td-n fz-875 mb-25">01.08.2019</div>
											<div class="partfolio-item__name ff-2 fw-600 fc-1 td-n fz-100 h-fc">Сотрудники многофункционального центра Воронежской области приняли участие в работе межрегионального «круглого стола» Нотариальной палаты</div>
											<a href="#" class="btn-arrow mt-100 h-fc h-fc-1 h-fx-opasity-3 fz-875"><span class="mr-50 h-fc">Читать далее</span><i class="fal fa-long-arrow-right h-fc"></i></a>	
										</div>
									</div>
								</a>		
							</div>
							<!-- end news-item -->
							<!-- begin news-item -->
							<div class="col-sm-6 col-md-4 sm-carousel__item mb-200 mb-sm-100">
								<a href="#">
									<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
										<div class="partfolio-item__image ovfl-h">
											<img data-src="img/news.jpg" alt="" class="lazyload w-100p h-auto h-fx-item__img">
										</div>
										<div class="partfolio-item__text-wrapper d-flex flex-column flex-1 bgc-3 ptb-100 plr-150">
											<div class="partfolio-item__name ff-1 fc-2 td-n fz-875 mb-25">01.08.2019</div>
											<div class="partfolio-item__name ff-2 fw-600 fc-1 td-n fz-100 h-fc">Сотрудники многофункционального центра Воронежской области приняли участие в работе межрегионального «круглого стола» Нотариальной палаты</div>
											<a href="#" class="btn-arrow mt-100 h-fc h-fc-1 h-fx-opasity-3 fz-875"><span class="mr-50 h-fc">Читать далее</span><i class="fal fa-long-arrow-right h-fc"></i></a>	
										</div>
									</div>
								</a>		
							</div>
							<!-- end news-item -->
							<!-- begin news-item -->
							<div class="col-sm-6 col-md-4 sm-carousel__item mb-200 mb-sm-100">
								<a href="#">
									<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
										<div class="partfolio-item__image ovfl-h">
											<img data-src="img/news.jpg" alt="" class="lazyload w-100p h-auto h-fx-item__img">
										</div>
										<div class="partfolio-item__text-wrapper d-flex flex-column flex-1 bgc-3 ptb-100 plr-150">
											<div class="partfolio-item__name ff-1 fc-2 td-n fz-875 mb-25">01.08.2019</div>
											<div class="partfolio-item__name ff-2 fw-600 fc-1 td-n fz-100 h-fc">Сотрудники многофункционального центра Воронежской области приняли участие в работе межрегионального «круглого стола» Нотариальной палаты</div>
											<a href="#" class="btn-arrow mt-100 h-fc h-fc-1 h-fx-opasity-3 fz-875"><span class="mr-50 h-fc">Читать далее</span><i class="fal fa-long-arrow-right h-fc"></i></a>	
										</div>
									</div>
								</a>		
							</div>
							<!-- end news-item -->
							<!-- begin news-item -->
							<div class="col-sm-6 col-md-4 sm-carousel__item mb-200 mb-sm-100">
								<a href="#">
									<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
										<div class="partfolio-item__image ovfl-h">
											<img data-src="img/news.jpg" alt="" class="lazyload w-100p h-auto h-fx-item__img">
										</div>
										<div class="partfolio-item__text-wrapper d-flex flex-column flex-1 bgc-3 ptb-100 plr-150">
											<div class="partfolio-item__name ff-1 fc-2 td-n fz-875 mb-25">01.08.2019</div>
											<div class="partfolio-item__name ff-2 fw-600 fc-1 td-n fz-100 h-fc">Сотрудники многофункционального центра Воронежской области приняли участие в работе межрегионального «круглого стола» Нотариальной палаты</div>
											<a href="#" class="btn-arrow mt-100 h-fc h-fc-1 h-fx-opasity-3 fz-875"><span class="mr-50 h-fc">Читать далее</span><i class="fal fa-long-arrow-right h-fc"></i></a>	
										</div>
									</div>
								</a>		
							</div>
							<!-- end news-item -->
							<!-- begin news-item -->
							<div class="col-sm-6 col-md-4 sm-carousel__item mb-200 mb-sm-100">
								<a href="#">
									<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
										<div class="partfolio-item__image ovfl-h">
											<img data-src="img/news.jpg" alt="" class="lazyload w-100p h-auto h-fx-item__img">
										</div>
										<div class="partfolio-item__text-wrapper d-flex flex-column flex-1 bgc-3 ptb-100 plr-150">
											<div class="partfolio-item__name ff-1 fc-2 td-n fz-875 mb-25">01.08.2019</div>
											<div class="partfolio-item__name ff-2 fw-600 fc-1 td-n fz-100 h-fc">Сотрудники многофункционального центра Воронежской области приняли участие в работе межрегионального «круглого стола» Нотариальной палаты</div>
											<a href="#" class="btn-arrow mt-100 h-fc h-fc-1 h-fx-opasity-3 fz-875"><span class="mr-50 h-fc">Читать далее</span><i class="fal fa-long-arrow-right h-fc"></i></a>	
										</div>
									</div>
								</a>		
							</div>
							<!-- end news-item -->
						</div>
						<a href="#" target="_blank" class="btn d-block d-md-inline-block text-center ptb-75 fc-wh fz-875 h-fc-wh h-fx-shadow bgc-acc-1 mt-25 mt-sm-200"><i class="far fa-map-marker-alt mr-50"></i>Все новости</a>
					</div>
					<!-- end news-section -->