<div class="sidebar-menu bgc-2 mb-200 d-none d-md-block">
	<!-- begin SIDEBAR-MENU-EXPEND-ITEM -->
	<div class="sidebar-menu__item expand-wrapper">
		<div class="expand-opener-btn cur-p h-fc-acc-1 fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1 d-flex justify-content-between align-items-center">
			<span class="fz-1125 ff-2">Услуги</span>
			<span class="expand-opener d-flex align-self-center"><i class="far fa-chevron-down"></i></span>
		</div>
		<div class="p-0 mb-0 mr-0 expand-content">
			<div class="expand-content__item fz-100 h-fc-acc-1">
				<a href="#" class="d-block ptb-875 plr-150 bgc-3 h-fc-acc-1">Гражданство</a>
			</div>
			<div class="expand-content__item fz-100 h-fc-acc-1">
				<a href="#" class="d-block ptb-875 plr-150 bgc-3 h-fc-acc-1">Имущественные отношения</a>
			</div>
		</div>
	</div>
	<!-- end SIDEBAR-MENU-EXPEND-ITEM -->
	<!-- begin SIDEBAR-MENU-EXPEND-ITEM -->
	<div class="sidebar-menu__item expand-wrapper opened">
		<div class="expand-opener-btn cur-p h-fc-acc-1 fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1 d-flex justify-content-between align-items-center is-active">
			<span class="fz-1125 ff-2">Услуги</span>
			<span class="expand-opener d-flex align-self-center"><i class="far fa-chevron-down"></i></span>
		</div>
		<div class="p-0 mb-0 mr-0 expand-content">
			<div class="expand-content__item fz-100 h-fc-acc-1 is-active">
				<a href="#" class="d-block ptb-875 plr-150 bgc-3 h-fc-acc-1">Гражданство</a>
			</div>
			<div class="expand-content__item fz-100 h-fc-acc-1">
				<a href="#" class="d-block ptb-875 plr-150 bgc-3 h-fc-acc-1">Имущественные отношения</a>
			</div>
		</div>
	</div>
	<!-- end SIDEBAR-MENU-EXPEND-ITEM -->
	<!-- begin SIDEBAR-MENU-SIMPLE-ITEM -->
	<div class="SIDEBAR-MENU-SIMPLE-ITEM">
		<div class="sidebar-menu__item">
			<a href="#" class="d-block fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1">Журнал "Мои Документы"</a>
		</div>
	</div>
	<!-- end SIDEBAR-MENU-SIMPLE-ITEM -->
	<!-- begin SIDEBAR-MENU-SIMPLE-ITEM -->
	<div class="SIDEBAR-MENU-SIMPLE-ITEM">
		<div class="sidebar-menu__item">
			<a href="#" class="d-block fz-1125 ptb-75 plr-150 ff-2 ff-2 fc-1">Квитанции для оплаты</a>
		</div>
	</div>
	<!-- end SIDEBAR-MENU-SIMPLE-ITEM -->
</div>