<!-- begin See more v1 -->
<div class="seemore--v1 mtb-300 mb-sm-500">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4 mb-300">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
						<div class="pos-a trbl-0 h-fx-item__img bg-cc" style="background-image: url(img/main.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-1 fz-1125 mb-50 h-fx-opacity">Фронтальные стеллажи</div>
						<div class="partfolio-item__desc fz-100 fc-1 lh-12 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-12 col-sm-6 col-md-4 mb-300">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
						<div class="pos-a trbl-0 h-fx-item__img bg-cc" style="background-image: url(img/s-1.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-1 fz-1125 mb-50 h-fx-opacity">Набивные стеллажи</div>
						<div class="partfolio-item__desc fz-100 fc-1 lh-12 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-12 col-sm-6 col-md-4 mb-300">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
						<div class="pos-a trbl-0 h-fx-item__img bg-cc" style="background-image: url(img/s-3.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-1 fz-1125 mb-50 h-fx-opacity">Передвижные стеллажи</div>
						<div class="partfolio-item__desc fz-100 fc-1 lh-12 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-12 col-sm-6 col-md-4 mb-300">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
						<div class="pos-a trbl-0 h-fx-item__img bg-cc" style="background-image: url(img/s-1.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-1 fz-1125 mb-50 h-fx-opacity">Передвижные стеллажи</div>
						<div class="partfolio-item__desc fz-100 fc-1 lh-12 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-12 col-sm-6 col-md-4 mb-300">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
						<div class="pos-a trbl-0 h-fx-item__img bg-cc" style="background-image: url(img/main.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-1 fz-1125 mb-50 h-fx-opacity">Передвижные стеллажи</div>
						<div class="partfolio-item__desc fz-100 fc-1 lh-12 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
		<div class="col-12 col-sm-6 col-md-4 mb-300">
			<a href="">
				<div class="partfolio-item d-flex flex-column h-fx-item cp h-100p">
					<div class="partfolio-item__image pb-56p pos-r ovfl-h mb-100">
						<div class="pos-a trbl-0 h-fx-item__img bg-cc" style="background-image: url(img/s-2.jpg);"></div>
					</div>
					<div class="partfolio-item__text-wrapper d-flex flex-column flex-1">
						<div class="partfolio-item__name ff-2 fc-1 fz-1125 mb-50 h-fx-opacity">Передвижные стеллажи</div>
						<div class="partfolio-item__desc fz-100 fc-1 lh-12 pr-50">Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum </div>
					</div>
				</div>
			</a>		
		</div>
	</div>
</div>	
<!-- end See more v1 v1 -->

