<!-- begin call section -->
<div class="call-section bgc-2 pt-100 pb-300 plr-300 text-center text-sm-left">
	<h3 class="fc-acc-1">Получите консультацию специалиста</h3>
	<div class="row mt-200">
		<div class="col-12 col-sm-6 pr-200 pr-sm-0 lh-12 fz-sm-125 mb-sm-200">
			Если у Вас появились вопросы или вам нужна консультация - позвоните нам. Наши лучшие специалисты сделают все для вашего комфорта!
		</div>
		<div class="col-12 col-sm-6 d-flex justify-content-center">
			<div class="d-none d-sm-block fz-200 mb-200 mr-300">
				<i class="fal fa-phone"></i>
			</div>
			<div class="mb-sm-300">
				<a href="tel:" class="d-block fz-125 ff-2 fz-sm-150 h-fx-opacity-5 mb-50">+ 375 (29) 753-22-48</a>
				<a href="tel:" class="d-block fz-125 ff-2 fz-sm-150 h-fx-opacity-5">+ 375 (29) 897-53-17</a>
			</div>
		</div>
		<div class="col-12 mt-300 mt-sm-0">
			<a href="#" class="btn fc-wh fz-100 fz-sm-125 h-bgc-wh h-fc-acc-1 bgc-acc-1 m-open" data-modal="form_1">Свяжитесь с нами</a>
		</div>
	</div>
</div>
<!-- end call section -->