	<!-- begin Products-section_insys -->
	<div class="products-section_insys pt-500 pb-600 ptb-sm-500 bgc-2">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<div class="row">
						<div class="col-12 about-us__title">
							<h3 class="section-title ff-2 fz-250 fz-xs-200 pt-150 mb-450 pos-r dec-line-top-medium dec-color-1">Продукция</h3>
						</div>
						<div class="col-12 col-md-7 mb-sm-300">
							<div class="products-section__title ff-2 fc-1 fz-150 mb-200">
								Складские стеллажи
							</div>
							<div class="products-section__list">
								<div class="row">
									<div class="col-12 col-sm-6 mb-sm-100">
										<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Паллетные стеллажи</a></div>
										<div class="products-section__sublist pl-200">
											<div class="dec-list-circle fz-100 fz-xs-125 pl-150 mb-50 mb-xs-75 h-fx-opacity-8"><a href="#" class="h-fc-1">Фронтальные стеллажи</a></div>
											<div class="dec-list-circle fz-100 fz-xs-125 pl-150 mb-50 mb-xs-75 h-fx-opacity-8"><a href="#" class="h-fc-1">Набивные стеллажи</a></div>
											<div class="dec-list-circle fz-100 fz-xs-125 pl-150 mb-50 mb-xs-75 h-fx-opacity-8"><a href="#" class="h-fc-1">Передвижные стеллажи</a></div>
											<div class="dec-list-circle fz-100 fz-xs-125 pl-150 mb-50 mb-xs-75 h-fx-opacity-8"><a href="#" class="h-fc-1">Гравитационные стеллажи</a></div>
											<div class="dec-list-circle fz-100 fz-xs-125 pl-150 mb-50 mb-xs-75 h-fx-opacity-8"><a href="#" class="h-fc-1">Паллетные стеллажи Push-Back</a></div>
											<div class="dec-list-circle fz-100 fz-xs-125 pl-150 mb-50 mb-xs-75 h-fx-opacity-8"><a href="#" class="h-fc-1">Самонесущие склады</a></div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Консольные стеллажи</a></div>
										<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Полочные стеллажи</a></div>
										<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Мезонинные конструкции</a></div>
										<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Автоматизированные склады</a></div>
									</div>
								</div>
							</div>
							
						</div>
						<div class="col-12 col-md-5">
							<div class="products-section__title ff-2 fc-1 fz-150 mb-200 pl-300 pl-md-200 pl-sm-0">
								Торговое оборудование
							</div>
							<div class="products-section__list pl-300 pl-md-200 pl-sm-0 pb-300 pb-sm-0 dec-line-left dec-color-3">
								<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Торговые стеллажи</a></div>
								<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Торговые кассы</a></div>
								<div class="dec-list-arrow fz-125 fz-xs-150 pl-200 mb-100 h-fx-opacity-8"><a href="#" class="h-fc-1">Сопутствующее торговое оборудование</a></div>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end Products-section_insys -->
