<!-- begin Menu sidebar -->
<div class="sidebar__menu mb-300">
	<div class="fz-150 ff-2 mb-200 lh-1 dec-line-bottom">
		Продукция
	</div>
	<div class="fz-125 ff-2 mb-100">
		Складские стеллажи
	</div>
	<ul class="p-0 mb-200">
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Паллетные стеллажи</a></li>
		<ul class="ml-150 pl-0 pb-50">
			<li class="dec-list-circle pl-150 mb-50 h-fx-opacity"><a href="#" class="h-fc-1">Фронтальные стеллажи</a></li>
			<li class="dec-list-circle pl-150 mb-50 h-fx-opacity"><a href="#" class="h-fc-1">Набивные стеллажи</a></li>
			<li class="dec-list-circle pl-150 mb-50 h-fx-opacity"><a href="#" class="h-fc-1">Передвижные стеллажи</a></li>
			<li class="dec-list-circle pl-150 mb-50 h-fx-opacity"><a href="#" class="h-fc-1">Гравитационные стеллажи</a></li>
			<li class="dec-list-circle pl-150 mb-50 h-fx-opacity"><a href="#" class="h-fc-1">Паллетные стеллажи Push-Back</a></li>
			<li class="dec-list-circle pl-150 mb-50 h-fx-opacity"><a href="#" class="h-fc-1">Самонесущие склады</a></li>
		</ul>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Консольные стеллажи</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Полочные стеллажи</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Мезонинные конструкции</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Автоматизированные склады</a></li>
	</ul>
	<div class="fz-125 ff-2 mb-100">
		Торговое оборудование
	</div>
	<ul class="p-0 mb-200">
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Торговые стеллажи</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Торговые кассы</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Сопутствующее торговое оборудование</a></li>
	</ul>
</div>
<!-- end Menu sidebar -->