<!-- begin Menu sidebar -->
<div class="sidebar__menu mb-300">
	<div class="fz-150 ff-2 mb-200 lh-1">
		Услуги
	</div>
	<ul class="p-0 mb-200">
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Монтаж складских стеллажей</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Монтаж торговых стеллажей</a></li>
		<li class="dec-list-arrow pl-150 mb-50 fz-1125 h-fx-opacity"><a href="#" class="h-fc-1">Проектирование торгового и складского пространства</a></li>
	</ul>		
</div>
<!-- end Menu sidebar -->